@import 'src/style/mixin';
.router-slid-enter-active, .router-slid-leave-active {
    transition: all .4s;
}
.router-slid-enter, .router-slid-leave-active {
    transform: translate3d(2rem, 0, 0);
    opacity: 0;
}
.rating_page{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    z-index: 202;
    padding-top: 1.95rem;
    p, span{
        font-family: Helvetica Neue,Tahoma,Arial;
    }
}
.adddetail{
  margin-top:.4rem;
}
.ui-padding-block{
  background:#fff;
  padding-top:.4rem;
  .add-detail{display:block;}
  .input-new{
    padding-bottom:.4rem;
    input{
      display:block;
      width:15rem;
      font-size:.6rem;
      margin:0 auto;
      padding:.3rem;
      background:#f2f2f2;
      border:1px solid #ddd;
      @include borderRadius(3px);
    }
    .verifies{
    border-color:#ea3106;
    }
    p{
    @include sc(.4rem,#ea3106);
    padding-left:.5rem;
    margin-top:.2rem;
    }
  }
  
}
.addbutton{
  margin:.6rem auto;
  width:15rem;
  background:#4cd964;
  @include borderRadius(3px);
  button{
    width:100%;
    @include sc(.6rem,#fff);
    line-height:1.6rem;
    background:none;
    font-weight:700;
    opacity:.6;
  }
  .butopacity{
    transition: all .4s;
    opacity:1;
  }
}