@import '../../style/mixin.scss';
@import '../../assets/iconfont/iconfont.css';


.footer-container{
  background-color: #fff;
  position: fixed;
  z-index: 101;
  left: 0;
  right: 0;
  bottom: 0;
  @include wh(100%, 1.95rem);
  display: flex;
  box-shadow: 0 -0.026667rem 0.053333rem rgba(0,0,0,.1);
  .guide-item {
    flex: 1;
    @include flex;
    text-align: center;
    flex-direction: column;
    @include font(0.6rem, 1.0rem);
    padding: 0.2rem 0;
    box-sizing: border-box;
    .icon-zhoubian{
      @include font(0.7rem, 0.86rem, 'iconfont');
      // margin-top: -0.2rem;
    }
    .spec-text{
      // margin-top: -0.2rem;
    }
    .icon-elm{
      @include font(0.7rem, 0.86rem, 'iconfont');
    }
    .icon-dd{
      @include font(0.70rem, 0.86rem, 'iconfont');
    }
    .icon-wode{
      @include font(0.70rem, 0.86rem, 'iconfont');
      fill: $blue;
    }
  }
}

.active{
  color: $blue;
  font-size: 25px;
  .icon-style{
    color: $blue!important;
    font-weight: bold;
  }
  span{
    color: $blue!important;
  }
}